//! **************************************************************************
// Written by: Map P.68d on Wed Nov 12 22:03:10 2014
//! **************************************************************************

SCHEMATIC START;
COMP "LED<12>" LOCATE = SITE "P5" LEVEL 1;
COMP "LED<11>" LOCATE = SITE "R1" LEVEL 1;
COMP "LED<14>" LOCATE = SITE "R2" LEVEL 1;
COMP "LED<13>" LOCATE = SITE "U1" LEVEL 1;
COMP "LED<10>" LOCATE = SITE "V1" LEVEL 1;
COMP "LED<15>" LOCATE = SITE "P2" LEVEL 1;
COMP "TXD" LOCATE = SITE "D4" LEVEL 1;
COMP "RST_X_IN" LOCATE = SITE "V10" LEVEL 1;
COMP "CLK_IN" LOCATE = SITE "E3" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "T8" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "V9" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "R8" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "T6" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "T5" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "T4" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "U7" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "U6" LEVEL 1;
COMP "LED<8>" LOCATE = SITE "V4" LEVEL 1;
COMP "LED<9>" LOCATE = SITE "U3" LEVEL 1;
NET "gen/clk_t" PERIOD = 10 ns HIGH 50%;
SCHEMATIC END;

